/*
Federal blue #0E0E52
Navy blue #150578
Persian blue #192BC2
Celestial blue#449DD1
Sky blue #78C0E0
*/

.gridlayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.GM2 {
    text-align: center;
    grid-column: 2;
    /*grid-row: 2;*/
    /*grid-row: 2;*/
  }
.GL2{
    text-align: left;
    grid-column: 1;
    /*grid-row: 2;*/
    /*grid-row: 2;*/
  }
.GR2{
    text-align: right;
    grid-column: 3;
    /*grid-row: 2;*/
    /*grid-row: 2;*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1E1E1E;
  color: #FFF;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 32px;
  font-weight: 400;
}

form {
  margin: 50px auto;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  background-color: #2E2E2E;
  color: #FFF;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3E8E41;
}
