<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Utstyrsoversikt</title>
</head>
<body>
    <h1 style="text-align:center;">Utstyrsoversikt</h1>
    <table style="text-align:center; margin-left: auto; margin-right: auto;">

  <thead>
    <tr>
      <th>Device</th>
      <th>Tilgjengelig</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RPI</td>
      <td>Ja</td>
    </tr>
  </tbody>
</table>
<form action="/minside"><button style="btn">Gå til din brukerprofil</button></form>
</body>
</html>