<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Minside</title>
</head>
<body>
    <h1 style="text-align: center;">Min side</h1>
    <p style="text-align: center;">Innlogget som {{this.name}}</p>
    <div style="text-align: center; display: block; margin: 0 auto;">
    <form action="/logout" method="POST"><button style="margin-bottom:5px;">Logg ut</button></form>
    <form action="/removeUser" method="POST"><button>Slett din bruker</button></form>
    </div>
</body>
</html>